<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="transactions"> {{title}} <i class="fa fa-exclamation-circle fa-1x"  aria-hidden="true"></i></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item bg-white rounded" routerLinkActive ="active">
        <a class="nav-link" routerLink="transactions/form"><i class="fa fa-plus fa-1x" aria-hidden="true"></i> Transaction</a>
      </li>
    </ul>
  </div>
</nav>
